
.kd-blog-1 {
    &-area {
        position: relative;
        z-index: 1;
    }

    &-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 310px);
        z-index: -1;
    }

    &-card {
        overflow: hidden;
        border-radius: 20px;
        margin-bottom: 30px;
        box-shadow: 0px 7px 81px 0px rgba(32, 28, 29, 0.07);

        .main-img {
            height: 265px;
        }
        
        .author-img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            flex: 0 0 auto;
        }

        .card-content {
            background: #fff;
            padding: 40px 40px;
            padding-top: 0;

            @media #{$xl,$lg,$md,$xs} {
                padding: 40px 15px;
            }
        }
        
        &-meta {
            background: #f8fafa;
            padding: 15px 23px;
            border-radius: 35px;
            margin-bottom: 17px;
            margin-top: -20px;
            position: relative;
            z-index: 1;

            &-author {
                display: flex;
                align-items: center;
                gap: 6px;
        
                .author-name {
                    font-size: 18px;
                }
            }

            &-love {
                font-size: 18px;

                i {
                    margin-right: 5px;
                }
            }
            
        }

        .card-title {
            font-size: 27px;
            line-height: 1.29;
            margin-bottom: 5px;

            @media #{$xl} {
                font-size: 24px;
            }

            @media #{$lg,$md,$xs} {
                font-size: 22px;
            }
        }
        
        .card-disc {
            font-weight: 500;
            font-size: 19px;
            line-height: 27px;
            color: #797a84;
        }

    }



    
}







