/* 
    breadcrumb-start
*/


.breadcrumb {

    &-area {
        padding-top: 300px;
    }

    &-title {
        font-size: 80px;
        color: #fff;
        margin-bottom: 30px;
        padding-bottom: 5px;


        @media #{$xxl} {
            font-size: 70px;
        }
        @media #{$xl} {
            font-size: 60px;
        }
        @media #{$lg} {
            font-size: 50px;
        }
        @media #{$md} {
            font-size: 40px;
        }
        @media #{$xs} {
            font-size: 26px;
        }
        @media #{$sm} {
            font-size: 35px;
        }
    }
    &-list {
        & a,& span {
            font-weight: 700;
            font-size: 20px;
            font-family: var(--kd-font-pr-1);
            line-height: 1;
            color: #fff;
            text-decoration: none;
            display: inline-block;

            @media #{$xs} {
                font-size: 18px;
            }
        }

        & a {
            padding-right: 25px;
            position: relative;
            margin-right: 10px;
            transition: 400ms ease;
            &:hover {
                color: var(--kd-clr-sd-1);
            }
            &::after {
                content: "\f101";
                position: absolute;
                font-family: "Font Awesome 6 Pro";
                right: 0;
                top: 12px;
                transform: translateY(-50%);
                font-size: 18px;
                color: var(--gly-pr-1);
            }
        }
        & span {
            position: relative; 
            text-transform: capitalize;
            color: #fff;
            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                background-color: var(--clr-common-white);
                bottom: -2px;
                left: 0;
            }
        }
    }
}

.breadcrumb-list {
    display: inline-block;
    overflow: hidden;
    position: relative;
    padding: 14px 28px;
    border: 2px solid var(--kd-clr-sd-1);
    border-radius: 40px;
    background: transparent;
}


.breadcrumb-wrap {
    position: relative;
    z-index: 1;
}

.has-breadcrumb-overlay {
    position: relative;
    &::after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.4;
    }
}

/* 
    breadcrumb-end
*/

