
/* 
    counter-4-start
*/
.kd-counter-4 {

    &-area {
        margin-top: -70px;
    }

    &-item-wrap {
        background: #ef9602;
        padding: 53px 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 70px;
        border-radius: 95px;
        position: relative;
        z-index: 1;
        overflow: hidden;

        @media #{$xl} {
            padding: 53px 40px;
            gap: 50px;
        }

        @media #{$lg} {
            padding: 53px 30px;
            gap: 10px;
        }

        @media #{$md,$xs} {
            padding: 53px 40px;
            gap: 40px;
            flex-wrap: wrap;
        }

        &-shape-1 {
            position: absolute;
            top: 0;
            left: 0;
            // width: 29%;
            width: 0%;
            height: 100%;
            background: #f69b04;
            border-radius: 95px;
            z-index: -1;
            transition: 1s var(--cube-1);

            @media #{$md,$xs} {
                display: none;
            }
        }

        &-shape-2 {
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            // width: 52%;
            height: 100%;
            background: #e79103;
            border-radius: 95px;
            z-index: -2;
            transition: 1s var(--cube-1);

            @media #{$md,$xs} {
                display: none;
            }
        }

        &-shape-3 {
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            // width: 76%;
            height: 100%;
            background: #de8b00;
            border-radius: 95px;
            z-index: -3;
            transition: 1s var(--cube-1);

            @media #{$md,$xs} {
                display: none;
            }
        }

        &:is(.active) {
            .kd-counter-4-item-wrap-shape-1 {
                width: 29%;
            }
            .kd-counter-4-item-wrap-shape-2 {
                  width: 52%;
            }
            .kd-counter-4-item-wrap-shape-3 {
                  width: 76%;
            }
        }
    }

    
    &-item {
        display: flex;
        gap: 20px;

        .icon {
            width: 52px;
            height: 52px;
            background: #082d3d;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 22px;
            flex: 0 0 auto;
        }

        .item-number {
            font-size: 60px;
            line-height: 1;
            color: #082d3d;
            margin-bottom: 5px;

            @media #{$lg,$md,$xs} {
                font-size: 45px;
            }
        }

        .item-title {
            font-size: 19px;
            line-height: 20px;
        }

        &:hover {
            .icon {
                animation: 1s kd-jello;
            }
        }
        
    }
    
}



/* 
    counter-4-end
*/