 /* 
    footer-1-start
 */

.kd-footer-1 {
   &-top {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: flex-end;

      @media #{$md,$xs} {
         grid-template-columns: 1fr;
         justify-items: self-start;
         gap: 30px;
      }

      &-subtitle {
         font-size: 18px;
         margin-bottom: 14px;
      }
      &-title {
         font-size: 35px;
         line-height: 1.14;

         @media #{$lg,$md,$xs} {
            font-size: 26px;
         }
      }

      &-app-store {
         width: 515px;
         display: grid;
         grid-template-columns: 1fr 1fr;
         align-items: center;
         gap: 15px;

         @media #{$xs} {
            width: 100%;
         }

         .link {
            display: block;
            width: 100%;
            background: #fff;
            border-radius: 50px;
            transition: .4s var(--cube-1);

            .txaa-tilt_scale {
               display: block;
               width: 100%;
               display: flex;
               align-items: center;
               justify-content: center;
               background: #fff;
               height: 90px;
               border-radius: 50px;
               padding: 15px;
            }

            &:nth-child(2) {

               .txaa-tilt_scale { 
                  background: #000;
               }

            }

            &:hover {
               transform: scale(95%);
            }
         }
         
      }
   }

   &-line {
      display: block;
      width: 100%;
      height: 2px;
      background: #01322f;
   }

   &-widget-wrap {
      display: grid;
      gap: 100px;
      grid-template-columns: 1fr 1.4fr 1fr;

      @media #{$lg} {
         gap: 30px;
      }

      @media #{$md} {
         gap: 50px 30px;
         grid-template-columns: 1fr 1.4fr;
      }

      @media #{$xs} {
         gap: 50px 30px;
         grid-template-columns: 1fr ;
      }
   }

   &-widget {
      &-title {
         font-size: 27px;
         margin-bottom: 45px;
      }

      &-disc {
         font-size: 16px;
         line-height: 23px;
         margin-bottom: 20px;
      }

      &-update {
         font-size: 16px;
         font-weight: 700;
      }

   }

   &-contact {
      .item {
         font-family: var(--kd-font-pr-1);
         font-weight: 700;
         color: #fff;
         font-size: 16px;
         line-height: 25px;
         display: flex;
         gap: 10px;
         
         &:not(:last-child) {
            margin-bottom: 18px;
         }

         .icon {
            width: 37px;
            height: 37px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #456c48;
            border-radius: 50%;
            font-size: 14px;
            border-style: dashed;
            flex: 0 0 auto;
         }

         a {
            align-items: center;
            gap: 10px;
            transition: .2s var(--cube-1);

            &:hover {
               color: var(--kd-clr-sd-1);

               .icon {
                  animation: 1s var(--cube-1);
               }
            }

         }
      }
   }

   &-menu {
      display: grid;
      grid-template-columns: 1fr 1fr;

      @media #{$xs} {
         grid-template-columns: 1fr;
      }

      @media #{$sm} {
         grid-template-columns: 1fr 1fr;
      }

      li {

         &:not(:last-child) {
            margin-bottom: 5px;
         }

         a {
            font-family: var(--kd-font-pr-1);
            font-size: 16px;
            font-weight: 600;
            text-transform: capitalize;
            color: #fff;
            line-height: 1;
            transition: .2s var(--cube-1);

            i {
               font-size: 14px;
               display: inline-block;
               margin-right: 10px;
            }

            &:hover {
               color: var(--kd-clr-sd-1);
               i {
                  animation: 1s kd-jello;
               }
            }
         }
      }
   }

  
   &-form {
      &-input {
         width: 100%;
         height: 50px;
         border-radius: 40px;
         border: none;
         outline: none;
         font-size: 16px;
         color: var(--kd-clr-pr-1);
         font-weight: 500;
         padding: 0 30px;
         margin-bottom: 8px;
      }

      &-btn {
         width: 100%;
         height: 50px;
         text-transform: capitalize;
         font-size: 17px;
         padding: 0;

     }
   }
  
   &-copyright {
      background: #01312e;

      &-text {
         font-size: 15px;
         font-weight: 500;


         a {
            display: inline-block;
            transition: .2s var(--cube-1);
            
            &:hover {
               color: var(--kd-clr-sd-1);
            }
         }
      }
   }
  
}




 /* 
    footer-1-end
 */


 /* 
    footer-2-start
 */

.kd-footer-2 {
   &-widget {
      &-wrap {
         display: grid;
         grid-template-columns: 1fr auto 1fr auto 1.3fr;
         gap: 50px 70px;

         @media #{$xl} {
            gap: 50px 40px;
         }

         @media #{$lg} {
            grid-template-columns: 1fr 1fr;
         }

         @media #{$md} {
            grid-template-columns: 1.2fr 1fr;
            gap: 50px 30px;
         }

         @media #{$xs} {
            grid-template-columns:1fr;
            gap: 50px 30px;
         }
      }

      &-line {
         display: block;
         width: 2px;
         height: 100%;
         background: #015657;

         @media #{$lg,$md,$xs} {
            display: none;
         }
     }
   }

   &-line {
      display: block;
      width: 100%;
      height: 2px;
      background: #015657;
   }

   &-social {
      gap: 10px;
   
      &-link {
         width: 44px;
         height: 44px;
         background: #fff;
         border-radius: 50%;
         color: #26263e;
         font-size: 18px;
         transition: .3s var(--cube-1);

         &:hover {
            background: var(--kd-clr-sd-1);
            color: #000;
         }
      }
   }
}



 /* 
    footer-2-end
 */



 /* 
    footer-3-end
 */

.kd-gallery-3 {
   &-item-wrap {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   }

   &-item {
      height: 130px;
      width: 180px;
      position: relative;
      z-index: 1;

      .item-btn {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
         height: 100%;
         background: #005e4fb5;
         position: absolute;
         top: 0;
         left: 0;
         font-size: 30px;
         color: #fff;
         transition: .3s ease-in-out;
         transform: scale(1.5);
         opacity: 0;
      }

      &:hover {
         .item-btn {
            transform: scale(1);
            opacity: 1;
         }
      }
   }
 }



.kd-footer-3 {

   &-top {
      display: grid;
      grid-template-columns: 1fr 1px 1fr;
      gap: 30px 65px;
      align-items: center;

      @media #{$lg} {
         gap: 30px 35px;
      }

      @media #{$md} {
         gap: 30px 25px;
      }

      @media #{$xs} {
         grid-template-columns: 1fr;
         padding-top: 34px;
      }

      .line {
         width: 1px;
         height: 100%;
         background: #005b56;

         @media #{$xs} {
            display: none;
         }
      }
     

      &-left {
         display: flex;
         align-items: center;
         justify-content: space-between;
         gap: 15px;
         flex-wrap: wrap;

         .kd-footer-2-social {
            gap: 35px;
            &-link {
               width: unset;
               height: unset;
               background: transparent;
               border-radius: unset;
               color: #fff;
               font-size: 18px;
               transition: 0.3s var(--cube-1);

               &:hover {
                  color: var(--kd-clr-sd-1);
               }
            }
         }
      }
   }

   &-form {
      position: relative;
      z-index: 1;
   
      &-box {

         display: grid;
         grid-template-columns: 1fr 3fr;
         align-items: center;
         gap: 10px;
         padding: 34px 0;

         @media #{$md,$xs} {
            grid-template-columns: 1fr;
         }
      
         .form-title {
            font-size: 20px;
        }
      }

      &-input {
         height: 57px;
         background: var(--kd-clr-pr-1);
         border-radius: 30px;
         border: none;
         outline: none;
         font-size: 16px;
         font-weight: 500;
         font-family: var(--kd-font-pr-1);
         color: #fff;
         padding-left: 35px;
         padding-right: 130px;
         width: 100%;
      }
   
      &-btn {
         position: absolute;
         right: 0;
         top: 0;
         height: 100%;
         background: #027972;
         padding: 20px 36px;

         .text {
            &::before {
               color: #fff;
            }
            &::after {
               color: #000;
            }
         }
         &:hover {
            background: var(--kd-clr-sd-1);
         }
      }

   }

   &-line {
      display: block;
      width: 100%;
      height: 1px;
      background: #005b56;
   }

   &-logo {
      display: inline-block;
      margin-bottom: 25px;
   }

   &-widget {
      &-wrap {
         display: grid;
         grid-template-columns: 1.6fr 1fr 1fr .7fr;
         gap: 50px 70px;

         @media #{$lg} {
            gap: 50px 30px;
         }

         @media #{$md} {
            grid-template-columns: 1.5fr 1fr;
            gap: 50px 30px;
         }

         @media #{$xs} {
            grid-template-columns: 1fr;
         }

         @media #{$sm} {
            grid-template-columns: 1.5fr 1fr;
            gap: 50px 30px;
         }

      }

      &-title {
         font-size: 22px;
         position: relative;
         z-index: 1;
         display: inline-block;
         margin-bottom: 38px;

         &::after {
            content: "";
            width: 100%;
            height: 1px;
            background: #fff;
            position: absolute;
            left: 0;
            bottom: -1px;
        }
     }
     
   }
  
   &-widget  {
      .widget-disc {
         font-size: 18px;
         line-height: 28px;
         color: #fff;
         font-weight: 500;
         margin-bottom: 25px;
      }
   }
  
  
  
   &-menu {
      li {
         
         &:not(:last-child) {
            margin-bottom: 12px;
         }

         a {
            font-size: 18px;
            font-family: var(--kd-font-pr-1);
            color: #d1d1d1;
            font-weight: 500;
            text-transform: capitalize;
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: .3s var(--cube-1);

            &::after {
               content: "";
               width: 0%;
               height: 1px;
               background-color: var(--kd-clr-sd-1);
               position: absolute;
               left: auto;
               right: 0;
               bottom: 4px;
               transition: .3s var(--cube-1);
            }

            &:hover {
              transform: translate(5px); 
              color: var(--kd-clr-sd-1);

              &::after {
                  width: 100%;
                  right: auto;
                  left: 0;
              }
            }
         }
      }
   }


   &-call  {
      display: flex;
      align-items: center;
      gap: 10px;
      .icon {
         width: 50px;
         height: 50px;
         background: #fff;
         border-radius: 50%;
         font-size: 20px;
         color: var(--kd-clr-sd-1);
      }
   
      .subtitle {
         color: var(--kd-clr-sd-1);
         font-size: 18px;
      }
   
      .link {
         color: #fff;
         font-size: 22px;
         display: inline-block;
         transition: .3s ease-in-out;
   
         &:hover {
            color: var(--kd-clr-sd-1);
            transform: translateX(3px);
         }
   
      }
   
      &:hover {
         .icon {
            animation: 1s kd-jello;
         }
      }
   }
   
}






/* 
   footer-3-end
*/

/* 
   footer-4-start
*/
.kd-footer-4 {

   &-area {
      &:is(.has-mt-minus) {
         margin-top: -280px;
         padding-top: 280px;

         @media #{$md,$xs} {
            padding-top: 330px;
         }
      }
   }



   &-widget {
      padding-top: 90px;
      padding-bottom: 75px;

      @media #{$md,$xs} {
         padding-top: 0px;
         padding-bottom: 0px;
      }

      &-wrap {
         display: grid;
         grid-template-columns: 1fr auto 1.5fr .8fr 1fr;
         gap: 50px 65px;

         @media #{$xl} {
            gap: 50px 30px;
         }

         @media #{$lg} {
            gap: 50px 30px;
            grid-template-columns: 1fr auto 1.2fr 0.8fr 1fr;
         }

         @media #{$md} {
            gap: 50px 30px;
            grid-template-columns: 1fr 1fr;
            padding-bottom: 50px;
         }

         @media #{$xs} {
            gap: 50px 30px;
            grid-template-columns: 1fr;
            padding-bottom: 50px;
         }

         @media #{$sm} {
            gap: 50px 30px;
            grid-template-columns: 1fr 1fr;
            padding-bottom: 50px;
         }

         .line {
            display: block;
            width: 1px;
            height: 100%;
            background: #fff;
            opacity: 15%;

            @media #{$md,$xs} {
               display: none;
            }
        }
      }

      &-title {
         font-size: 24px;
         line-height: 1.58;
         margin-bottom: 30px;
      }

      .widget-disc {
         margin-bottom: 30px;
      }


      .kd-footer-3-form {
         max-width: 274px;
         &-input {
            height: 46px;
            background: rgb(255 255 255 / 15%);
            border-radius: 0;
            border: none;
            outline: none;
            font-size: 14px;
            font-weight: 400;
            font-family: var(--kd-font-barlow);
            color: #fff;
            padding-left: 20px;
            padding-right: 70px;
            width: 100%;
   
   
         }

         &-btn {
            background: var(--kd-clr-pr-4);
            padding: 0px 13px;
            color: #fff;
            transition: .3s ease;

            &:hover {
               background: var(--kd-clr-sd-4);
            }
        }
      }


      .kd-footer-2-social-link {
         background: transparent;
         color: #fff;
         font-size: 18px;
         border: 1px solid #fff;
         opacity: 80%;
         &:hover {
            border-color: transparent;
            background: var(--kd-clr-pr-4);
            opacity: 100%;
         }
      }

      .kd-footer-1-contact .item {

         font-family: var(--kd-font-barlow);
         font-weight: 400;
         color: rgb(255 255 255 / 80%);
         font-size: 18px;
         line-height: 26px;
         align-items: baseline;
         
         .icon {
            color: var(--kd-clr-pr-4);
            width: unset;
            height: unset;
            display: flex;
            align-items: unset;
            justify-content: unset;
            border: 0;
            border-radius: unset;
            font-size: 14px;
            border-style: none;
            flex: 0 0 auto;
         }

         a {
            &:hover {
               color: var(--kd-clr-pr-4);
            }
         }
      }



   }

   &-menu {
      li {
         margin-bottom: 12px;

         a {
            font-family: var(--kd-font-barlow);
            font-size: 18px;
            text-transform: capitalize;
            display: inline-block;
            color: #fff;
            opacity: 80%;
            line-height: 30px;
            position: relative;
            z-index: 1;
            transition: .3s var(--cube-1);

            &::after {
               content: "";
               width: 0%;
               height: 1px;
               background-color: var(--kd-clr-pr-4);
               position: absolute;
               left: auto;
               right: 0;
               bottom: 4px;
               transition: .3s var(--cube-1);
            }


            &:hover {
               transform: translate(5px); 
               color: var(--kd-clr-pr-4);
               opacity: 100%;
               &::after {
                  width: 100%;
                  right: auto;
                  left: 0;
               }
            }


         }
      }
   }

   &-open-hours {
      
      .title {
         opacity: 100%;
         font-weight: 500;
         text-decoration: underline;
         margin-bottom: 12px;
     }

      li {
         font-size: 18px;
         font-family: var(--kd-font-barlow);
         text-transform: capitalize;
         line-height: 26px;
         color: #fff;
         opacity: 80%;

     }
   }
  

   &-line {
      display: block;
      width: 100%;
      height: 1px;
      background: #fff;
      opacity: 15%;
   }

   &-copyright {
      gap: 10px 30px;
      justify-content: space-between;

      @media #{$xs} {
         justify-content: center;
      }

      &-text {
         font-size: 16px;
      }
      a {
         display: inline-block;
         transition: .3s ease;

         &:hover {
            color: var(--kd-clr-pr-4);
         }
      }
   }
   
   &-link {
      display: flex;
      align-items: center;
      gap:  10px 30px;
      flex-wrap: wrap;
      li {
         a {
            font-family: var(--kd-font-barlow);
            text-transform: capitalize;
            font-size: 16px;
            line-height: 26px;
            transition: .3s ease;
            color: #fff;

            &:hover {
               color: var(--kd-clr-pr-4);
            }
        }
      }
   }
}


/* 
   footer-4-end
*/

