/* 
	preloader-css-start
*/

#preloader {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	z-index: 99999999;
    overflow: hidden;
    align-items: center;
    justify-content: center;
	background-color: #000;
	transition: 1000ms var(--cube-1);

	.preloader-wrap {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;

		.loading {
			text-align: center;
		}
		
		.icon-ani {
			width: 240px;
		}
	}

	&:is(.preloaded) {
		transform: translateY(-100%);
	}

}

 
/* 
	preloader-css-end
*/